---
description: ValidationResult schema from Apache Pig
layout: schema
name: ValidationResult
properties_list:
- description: ''
  name: valid
  type: boolean
- description: ''
  name: errors
  type: array
provider_name: Apache Pig
provider_slug: apache-pig
schema_file: json-schema/apache-pig-validation-result-schema.json
slug: apache-pig-validation-result
tags:
- Big Data
- Data Analysis
- ETL
- Hadoop
- Scripting
- Apache
- Open Source
title: ValidationResult
---
