---
description: ConfigValidationResult schema from Apache kafka
layout: schema
name: ConfigValidationResult
properties_list:
- description: ''
  name: name
  type: string
- description: ''
  name: error_count
  type: integer
- description: ''
  name: groups
  type: array
- description: ''
  name: configs
  type: array
provider_name: Apache Kafka
provider_slug: apache-kafka
schema_file: json-schema/kafka-connect-config-validation-result-schema.json
slug: kafka-connect-config-validation-result
tags:
- Distributed Systems
- Event Streaming
- Messaging
- Open Source
- Pub-Sub
title: ConfigValidationResult
---
