---
description: Result of XML definition validation.
layout: schema
name: ValidationResult
properties_list:
- description: Validation outcome.
  name: validate
  type: object
provider_name: Apache Oozie
provider_slug: apache-oozie
schema_file: json-schema/apache-oozie-validation-result-schema.json
slug: apache-oozie-validation-result
tags:
- Workflow
- Hadoop
- Orchestration
- Scheduling
- Big Data
- Apache
- Java
- Open Source
title: ValidationResult
---
