---
description: DnsRecordVerificationStatus schema from Amazon WorkMail API
layout: schema
name: DnsRecordVerificationStatus
properties_list: []
provider_name: Amazon WorkMail
provider_slug: amazon-workmail
schema_file: json-schema/workmail-dns-record-verification-status-schema.json
slug: workmail-dns-record-verification-status
source_filename: workmail-dns-record-verification-status-schema.json
source_heading: JSON Schema
source_json: "{\n  \"type\": \"string\",\n  \"enum\": [\n    \"PENDING\",\n    \"VERIFIED\",\n    \"FAILED\"\n  ],\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"DnsRecordVerificationStatus\",\n  \"$id\": \"https://raw.githubusercontent.com/api-evangelist/amazon-workmail/refs/heads/main/json-schema/workmail-dns-record-verification-status-schema.json\",\n  \"description\": \"DnsRecordVerificationStatus schema from Amazon WorkMail API\"\n}"
source_json_url: https://raw.githubusercontent.com/api-evangelist/amazon-workmail/refs/heads/main/json-schema/workmail-dns-record-verification-status-schema.json
tags:
- Business Communication
- Calendar
- Email
- Exchange
- Enterprise
title: DnsRecordVerificationStatus
---
